*,
*::before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* calculator */
#calculator {
    width: 90%;
    max-width: 430px;
    padding: 25px;
    border-radius: 25px;
}

/* input */
#input-wrap {
    position: relative;
    width: calc(100% - 4px);
    margin-bottom: 5px;
    padding: 0 5px;
    text-align: right;
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

#input {
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}

#tmp {
    position: absolute;
    right: 5px;
    top: 0.25rem;
}

/* button */
#button-wrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#button-wrap > button {
    width: calc(25% - 4px);
    text-align: center;
    line-height: 5rem;
    margin: 2px 0;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    outline: 0;
    transition: 0.3s;
}

#button-wrap > button.num-0 {
    width: calc(50% - 4px);
}

#button-wrap > button:hover {
    box-shadow: inst 0px 0px 15px 0px rgba(0, 0, 0.3);
}

/*
#button-wrap > button#result {

}